button {
margin: 22px 0px 0 15px;
border-radius: 22px;
border-color: yellow;
height: 70px;
width: 70px;
font-size: 18px;
background-color: aliceblue;
}

body {
background-color: skyblue; 
}

.b{
border-color: blue;
background-color: green;
  
}

h1 {
  text-align: center;
}

h3{
text-align: center;
}

#torles {
  background-color: red;
  font-size: 40px;
  padding-bottom: 10px;

}